.footer {
  border-radius: 25px 25px 0 0;
  background-color: var(--dark);
  padding: 60px 0;

  .container {
    display: grid;
    grid-template-columns: 1fr 480px;

    @media (max-width: 1024px) {
      padding-top: 320px;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 85px;
    }
  }
}

.footer__date {
  font-weight: 600;
  font-size: 50px;
  line-height: 90%;
  color: var(--light);

  @media (max-width: 1024px) {
    text-align: center;
  }

  @media (max-width: 768px) {
    font-size: 30px;
    line-height: 71%;
  }

  span {
    display: block;
    font-weight: 600;
    font-size: 30px;
    color: var(--light);

    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 175%;
    }
  }
}

.footer__title {
  font-weight: 600;
  font-size: 50px;
  line-height: 100%;
  color: var(--primary);

  @media (max-width: 1200px) {
    font-size: 40px;
  }

  @media (max-width: 1024px) {
    text-align: center;
  }

  @media (max-width: 768px) {
    font-size: 30px;
    line-height: 160%;
  }

  span {
    display: block;
    font-weight: 900;
    font-size: 70px;
    line-height: 150%;
    color: var(--primary);

    @media (max-width: 1200px) {
      font-size: 55px;
    }

    @media (max-width: 1024px) {
      text-align: center;
    }

    @media (max-width: 768px) {
      font-size: 60px;
      line-height: 100%;
    }
  }
}

.footer__place {
  font-weight: 600;
  font-size: 50px;
  color: var(--light);

  @media (max-width: 1024px) {
    text-align: center;
  }

  @media (max-width: 768px) {
    font-size: 30px;
  }

  address {
    font-size: 30px;

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }
}

.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid var(--light);

  @media (max-width: 1024px) {
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: none;
  }
}

.footer__right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (max-width: 1024px) {
    position: absolute;
    left: 0;
    top: -270px;
    width: 100%;
  }
}

.footer__organizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

  @media (max-width: 1024px) {
    path {
      fill: var(--dark);
    }
  }

  p {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 194%;
    align-self: self-start;

    @media (max-width: 1024px) {
      align-self: center;
      color: var(--dark);
    }
  }
}

.footer__magazine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

  img {
    width: 233px;
    height: 294px;
    background-color: #d9d9d9;
  }
}
