.hero {
  padding-top: 60px;
  /* TODO: Убрать, т.к. для заглушки */
  padding-bottom: 60px;
  background-image: url("../images/hero.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;

  @media (max-width: 1024px) {
    background: none;
  }

  header {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 1024px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
      }
    }
  }

  .hero__content {
    padding: 75px 0;

    @media (max-width: 1024px) {
      background-image: url("../images/hero.png");
      background-repeat: no-repeat;
      background-position: right top;
      background-size: contain;
    }

    @media (max-width: 768px) {
      background-size: 296px 446px;
    }
    @media (max-width: 470px) {
      background-position: right 110px;
    }
  }

  footer {
    .container.mobile {
      display: none;

      @media (max-width: 550px) {
        display: grid;
        grid-template-columns: 150px 1fr;
        grid-template-rows: repeat(3, 1fr);
        column-gap: 0px;
        row-gap: 30px;
        align-content: center;
      }
    }

    .container {
      display: flex;
      gap: 100px;

      @media (max-width: 768px) {
        gap: 50px;
      }

      @media (max-width: 550px) {
        display: none;
      }
    }
  }
}

.hero__date {
  font-weight: 600;
  font-size: 50px;
  line-height: 90%;
  color: var(--primary);

  @media (max-width: 768px) {
    font-size: 35px;
    line-height: 71%;
  }

  span {
    display: block;
    font-weight: 600;
    font-size: 30px;
    color: var(--dark);

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 175%;
    }
  }
}

.hero__place {
  font-weight: 600;
  font-size: 30px;
  text-align: right;
  color: var(--dark);

  @media (max-width: 1024px) {
    order: -1;
    text-align: left;
  }

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 175%;
  }

  address {
    font-weight: 400;
    font-size: 20px;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}

.hero__title {
  font-weight: 600;
  font-size: 50px;
  line-height: 100%;
  color: var(--dark);
  margin-bottom: 30px;

  @media (max-width: 768px) {
    font-size: 30px;
    line-height: 160%;
  }

  @media (max-width: 470px) {
    margin-bottom: 170px;
  }

  span {
    display: block;
    font-weight: 900;
    font-size: 70px;
    line-height: 150%;

    @media (max-width: 768px) {
      font-size: 60px;
      line-height: 100%;
    }
  }
}

.hero__description {
  max-width: 470px;
  font-weight: 400;
  font-size: 30px;
  line-height: 133%;
  color: #000;
  margin-bottom: 55px;

  @media (max-width: 900px) {
    max-width: 300px;
    font-size: 24px;
  }

  @media (max-width: 768px) {
    max-width: 470px;
    font-size: 24px;
  }

  @media (max-width: 700px) {
    max-width: 300px;
    font-size: 24px;
  }

  @media (max-width: 470px) {
    max-width: 170px;
    font-size: 18px;
  }
}

.hero__organizer {
  p {
    margin-bottom: 10px;
  }
}

.hero__co-organizer {
  > p {
    margin-bottom: 10px;
  }

  li {
    p {
      font-weight: 600;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.hero__co-org-text {
  display: none;
  @media (max-width: 768px) {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: var(--dark);
  }
}
