.partners {
  padding: 60px 0;

  @media (max-width: 1024px) {
    padding-bottom: 350px;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media (max-width: 768px) {
      gap: 10px;
      justify-content: space-evenly;
    }
  }

  img {
    @media (max-width: 768px) {
      width: 80%;
      height: 80%;
    }

    @media (max-width: 450px) {
      width: 70%;
      height: 70%;
    }
  }
}
