.partners {
  padding: 60px 0;

  @media (max-width: 1024px) {
    padding-bottom: 350px;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;

    img {
      max-width: 120px;
    }

    @media (max-width: 768px) {
      gap: 15px;
    }
  }
}

.partners__title {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.partners__info {
  margin-bottom: 50px;

  li {
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      width: 120px;
      img {
        height: 60px;
      }
    }
  }
}
