@import url("./normalize.css");
@import url("./fonts.css");

:root {
  --light: #f6e8db;
  --light-bg: #fff7ef;
  --primary: #fe4066;
  --dark: #000000;
  --font-family: "Montserrat", sans-serif;

  min-width: 375px;
  box-sizing: border-box;
  color: var(--dark);
  background-color: var(--light);
  font-family: var(--font-family);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:visited {
    color: initial;
  }
}

hr {
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  display: flex;
  margin-left: 150px;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;

  @media (max-width: 1024px) {
    margin-left: 0;
  }
}

.link-button {
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  color: var(--light);
  background-color: var(--primary);
  border-radius: 50px;
  text-decoration: none;
  transition: box-shadow 0.2s ease;
  margin-bottom: 30px;
  max-width: 350px;
  width: 100%;
  display: inline-block;
  font-size: 16px;
  padding: 12px 80px;

  &:hover {
    box-shadow: 0 0 15px var(--primary);
  }

  &:visited {
    color: var(--light);
  }
}

p {
  font-weight: 400;
  font-size: 11pt;
  line-height: 100%;
  color: #000;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

h1,
h2 {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 18px;
}

time {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--primary);
  margin-bottom: 30px;
}
